li.tickets-list__item
  .ticket-card
    div(class='ticket-card--color0' + index)
      .ticket-card__img
        img(src=ticket.src, srcset=ticket.srcset, alt='Изображение товара')
      .ticket-card__info
        span.ticket-card__label
          =ticket.type
        .ticket-card__categories
          if ticket.category
            each val in ticket.category
              a(href='#')= val
        .ticket-card__header
          h3.ticket-card__title
            a(href='offers/'  + ticket.id)= ticket.title
          p.ticket-card__price
            span.js-sum= ticket.sum
            |  ₽
        .ticket-card__desc
          p=ticket.description
